-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: bd_his
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `EmpleadosAdmision`
--

DROP TABLE IF EXISTS `EmpleadosAdmision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EmpleadosAdmision` (
  `idEmpleado` int NOT NULL AUTO_INCREMENT,
  `dni` varchar(20) NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `estado` tinyint(1) DEFAULT '1',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idEmpleado`),
  UNIQUE KEY `dni` (`dni`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `EmpleadosAdmision`
--

LOCK TABLES `EmpleadosAdmision` WRITE;
/*!40000 ALTER TABLE `EmpleadosAdmision` DISABLE KEYS */;
/*!40000 ALTER TABLE `EmpleadosAdmision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `administradores`
--

DROP TABLE IF EXISTS `administradores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administradores` (
  `idAdministrador` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `dni` varchar(20) NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `correo` varchar(150) NOT NULL,
  PRIMARY KEY (`idAdministrador`),
  UNIQUE KEY `dni` (`dni`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administradores`
--

LOCK TABLES `administradores` WRITE;
/*!40000 ALTER TABLE `administradores` DISABLE KEYS */;
INSERT INTO `administradores` VALUES (1,'Tito Hernan','Bambino','10203041','Angel Dominguez 31','titobambino@gmail.com');
/*!40000 ALTER TABLE `administradores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admisiones`
--

DROP TABLE IF EXISTS `admisiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admisiones` (
  `idAdmision` int NOT NULL AUTO_INCREMENT,
  `paciente_id` int NOT NULL,
  `motivo_id` int NOT NULL,
  `origen_id` int NOT NULL,
  `fecha_admision` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_alta` datetime DEFAULT NULL,
  `estado` enum('Activa','Alta') NOT NULL DEFAULT 'Activa',
  `habitacion_id` int NOT NULL,
  `cama_id` int NOT NULL,
  PRIMARY KEY (`idAdmision`),
  KEY `fk_admision_habitacion` (`habitacion_id`) USING BTREE,
  KEY `fk_admision_cama` (`cama_id`) USING BTREE,
  KEY `paciente_id` (`paciente_id`),
  KEY `motivo_id` (`motivo_id`),
  KEY `origen_id` (`origen_id`),
  CONSTRAINT `admisiones_ibfk_811` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE,
  CONSTRAINT `admisiones_ibfk_812` FOREIGN KEY (`motivo_id`) REFERENCES `motivos` (`idMotivo`) ON UPDATE CASCADE,
  CONSTRAINT `admisiones_ibfk_813` FOREIGN KEY (`origen_id`) REFERENCES `origenes` (`idOrigen`) ON UPDATE CASCADE,
  CONSTRAINT `admisiones_ibfk_814` FOREIGN KEY (`habitacion_id`) REFERENCES `habitaciones` (`idHabitacion`) ON UPDATE CASCADE,
  CONSTRAINT `admisiones_ibfk_815` FOREIGN KEY (`cama_id`) REFERENCES `camas` (`idCama`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admisiones`
--

LOCK TABLES `admisiones` WRITE;
/*!40000 ALTER TABLE `admisiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `admisiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alas`
--

DROP TABLE IF EXISTS `alas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alas` (
  `idAla` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`idAla`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alas`
--

LOCK TABLES `alas` WRITE;
/*!40000 ALTER TABLE `alas` DISABLE KEYS */;
INSERT INTO `alas` VALUES (3,'Este'),(1,'Norte'),(4,'Oeste'),(2,'Sur');
/*!40000 ALTER TABLE `alas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `camas`
--

DROP TABLE IF EXISTS `camas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `camas` (
  `idCama` int NOT NULL AUTO_INCREMENT,
  `habitacion_id` int NOT NULL,
  `estado` varchar(100) NOT NULL DEFAULT 'libre',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idCama`),
  KEY `habitacion_id` (`habitacion_id`),
  CONSTRAINT `camas_ibfk_1` FOREIGN KEY (`habitacion_id`) REFERENCES `habitaciones` (`idHabitacion`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=459 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `camas`
--

LOCK TABLES `camas` WRITE;
/*!40000 ALTER TABLE `camas` DISABLE KEYS */;
/*!40000 ALTER TABLE `camas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diagnostico`
--

DROP TABLE IF EXISTS `diagnostico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `diagnostico` (
  `idDiagnostico` int NOT NULL AUTO_INCREMENT,
  `idPaciente` int NOT NULL,
  `diagnostico` text,
  PRIMARY KEY (`idDiagnostico`),
  KEY `fk_diagnostico_paciente` (`idPaciente`) USING BTREE,
  CONSTRAINT `diagnostico_ibfk_1` FOREIGN KEY (`idPaciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diagnostico`
--

LOCK TABLES `diagnostico` WRITE;
/*!40000 ALTER TABLE `diagnostico` DISABLE KEYS */;
INSERT INTO `diagnostico` VALUES (1,7,'Preveo ruptura de ligamentos y al menos fisura. Solicito resonancia y tomografia computarizada.');
/*!40000 ALTER TABLE `diagnostico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enfermeros`
--

DROP TABLE IF EXISTS `enfermeros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enfermeros` (
  `idEnfermero` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `dni` varchar(20) NOT NULL,
  `matricula` varchar(30) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idEnfermero`),
  UNIQUE KEY `dni` (`dni`),
  UNIQUE KEY `matricula` (`matricula`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enfermeros`
--

LOCK TABLES `enfermeros` WRITE;
/*!40000 ALTER TABLE `enfermeros` DISABLE KEYS */;
/*!40000 ALTER TABLE `enfermeros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especialidades`
--

DROP TABLE IF EXISTS `especialidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especialidades` (
  `idEspecialidad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idEspecialidad`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especialidades`
--

LOCK TABLES `especialidades` WRITE;
/*!40000 ALTER TABLE `especialidades` DISABLE KEYS */;
INSERT INTO `especialidades` VALUES (1,'Clinica Medica',1),(2,'Cardiologia',1),(3,'Neumonologia',1),(4,'Gastroenterologia',1),(5,'Neurologia',1),(6,'Infectologia',1),(7,'Urologia',1),(8,'Nefrologia',1),(9,'Hematologia',1),(10,'Oncologia Clinica',1),(11,'Psiquiatria',1),(12,'Ginecologia',1),(13,'Obstetricia',1),(14,'Traumatologia y Ortopedia',1),(15,'Cirugia General',1),(16,'Endocrinologia',1),(17,'Cuidados Paliativos',1),(18,'Reumatologia',1),(19,'Terapia Intensiva',1),(20,'Emergentologia',1),(21,'Radiologia',1),(22,'Laboratorio Clinico',1);
/*!40000 ALTER TABLE `especialidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estudios`
--

DROP TABLE IF EXISTS `estudios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estudios` (
  `idEstudio` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`idEstudio`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estudios`
--

LOCK TABLES `estudios` WRITE;
/*!40000 ALTER TABLE `estudios` DISABLE KEYS */;
INSERT INTO `estudios` VALUES (2,'Analisis de Orina'),(1,'Analisis de Sangre'),(6,'Ecografia'),(3,'Radiografia'),(5,'Resonancia Magnetica'),(4,'Tomografia Computarizada');
/*!40000 ALTER TABLE `estudios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion_fisica`
--

DROP TABLE IF EXISTS `evaluacion_fisica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluacion_fisica` (
  `id_evaluacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_paciente` int NOT NULL,
  `presion_arterial` varchar(10) DEFAULT NULL,
  `frecuencia_respiratoria` int DEFAULT NULL,
  `temperatura_corporal` decimal(4,1) DEFAULT NULL,
  `color_piel` varchar(50) DEFAULT NULL,
  `observaciones` text,
  `fecha_hora` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evaluacion`),
  UNIQUE KEY `id_evaluacion` (`id_evaluacion`),
  KEY `id_paciente` (`id_paciente`),
  CONSTRAINT `evaluacion_fisica_ibfk_1` FOREIGN KEY (`id_paciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion_fisica`
--

LOCK TABLES `evaluacion_fisica` WRITE;
/*!40000 ALTER TABLE `evaluacion_fisica` DISABLE KEYS */;
INSERT INTO `evaluacion_fisica` VALUES (1,2,'120/70',100,36.9,'Normal','Se lo ve decaido, pero nada fuera de lo normal','2025-07-22 18:24:22'),(2,3,'110/60',98,38.1,'Normal','Leves tiritamientos','2025-07-22 18:30:48'),(3,12,'120/70',100,40.9,'Normal','Esta hirviendo','2025-07-25 18:56:19'),(4,2,'110/60',99,38.0,'Normal','Leve tiritamiento (Causa de fiebre)','2025-08-24 17:34:36'),(5,8,'110/60',98,40.1,'Normal','Mucho dolor de cabeza y tiritamiento','2025-08-24 19:39:16'),(6,16,'110/60',99,37.9,'Normal','Ninguna','2025-09-08 16:09:56');
/*!40000 ALTER TABLE `evaluacion_fisica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `habitaciones`
--

DROP TABLE IF EXISTS `habitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `habitaciones` (
  `idHabitacion` int NOT NULL AUTO_INCREMENT,
  `ala_id` int NOT NULL,
  `unidad_id` int NOT NULL,
  `numero` int NOT NULL,
  `capacidad` int NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idHabitacion`),
  KEY `fk_habitacion_unidad` (`unidad_id`) USING BTREE,
  KEY `ala_id` (`ala_id`),
  CONSTRAINT `habitaciones_ibfk_325` FOREIGN KEY (`ala_id`) REFERENCES `alas` (`idAla`) ON UPDATE CASCADE,
  CONSTRAINT `habitaciones_ibfk_326` FOREIGN KEY (`unidad_id`) REFERENCES `unidades` (`idUnidad`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `habitaciones`
--

LOCK TABLES `habitaciones` WRITE;
/*!40000 ALTER TABLE `habitaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `habitaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historia_clinica_interna`
--

DROP TABLE IF EXISTS `historia_clinica_interna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historia_clinica_interna` (
  `idHistoria` int NOT NULL AUTO_INCREMENT,
  `idPaciente` int NOT NULL,
  `observacion` text NOT NULL,
  `fecha` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idHistoria`),
  KEY `idPaciente` (`idPaciente`),
  CONSTRAINT `historia_clinica_interna_ibfk_1` FOREIGN KEY (`idPaciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historia_clinica_interna`
--

LOCK TABLES `historia_clinica_interna` WRITE;
/*!40000 ALTER TABLE `historia_clinica_interna` DISABLE KEYS */;
INSERT INTO `historia_clinica_interna` VALUES (1,7,'Se solicitaron estudios de Resonancia y Tomografia. Se le dio la medicina corticoixx','2025-09-08 21:38:07');
/*!40000 ALTER TABLE `historia_clinica_interna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_medico`
--

DROP TABLE IF EXISTS `historial_medico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_medico` (
  `idHistorial` int NOT NULL AUTO_INCREMENT,
  `idPaciente` int NOT NULL,
  `enfermedades_previas` text,
  `cirugias` text,
  `alergias` text,
  `medicamentos_actuales` text,
  `antecedentes_familiares` text,
  `contacto_emergencia` varchar(255) DEFAULT NULL,
  `idSintoma` int DEFAULT NULL,
  PRIMARY KEY (`idHistorial`),
  KEY `fk_historial_sintomas` (`idSintoma`) USING BTREE,
  KEY `idPaciente` (`idPaciente`),
  CONSTRAINT `historial_medico_ibfk_209` FOREIGN KEY (`idPaciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE,
  CONSTRAINT `historial_medico_ibfk_210` FOREIGN KEY (`idSintoma`) REFERENCES `sintomas` (`idSintoma`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_medico`
--

LOCK TABLES `historial_medico` WRITE;
/*!40000 ALTER TABLE `historial_medico` DISABLE KEYS */;
INSERT INTO `historial_medico` VALUES (1,2,'Ninguna','Rodilla Derecha','Mosquitos, Dipirona','Ninguna','Anemia y Osteoporosis','Alina 2664259970',228),(2,3,'Ninguna','Apendicitis','Adermicina','Ninguno','Alopec├¡a','Balatro 5556778899',40),(3,12,'Epilepsia','Cirugia de apendice','polen','Ibuprofeno 1g','Diabetes','Stefano 34613448094',139),(4,8,'Ninguna','Tobillo derecho, rodilla izquierda','Polen','Amoxilina','Cancer','maria 2664559900',22),(5,16,'Anemia','Vesicula','Ninguna','Ninguna','Diabetes','Ariel 2664334760',158);
/*!40000 ALTER TABLE `historial_medico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informe_enfermero`
--

DROP TABLE IF EXISTS `informe_enfermero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informe_enfermero` (
  `id_informe` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_enfermero` int NOT NULL,
  `id_paciente` int NOT NULL,
  `informe` text NOT NULL,
  `fecha_hora` datetime DEFAULT CURRENT_TIMESTAMP,
  `id_especialidad` int NOT NULL,
  PRIMARY KEY (`id_informe`),
  UNIQUE KEY `id_informe` (`id_informe`),
  KEY `id_enfermero` (`id_enfermero`),
  KEY `id_paciente` (`id_paciente`),
  KEY `id_especialidad` (`id_especialidad`),
  CONSTRAINT `informe_enfermero_ibfk_302` FOREIGN KEY (`id_enfermero`) REFERENCES `enfermeros` (`idEnfermero`) ON UPDATE CASCADE,
  CONSTRAINT `informe_enfermero_ibfk_303` FOREIGN KEY (`id_paciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE,
  CONSTRAINT `informe_enfermero_ibfk_304` FOREIGN KEY (`id_especialidad`) REFERENCES `especialidades` (`idEspecialidad`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informe_enfermero`
--

LOCK TABLES `informe_enfermero` WRITE;
/*!40000 ALTER TABLE `informe_enfermero` DISABLE KEYS */;
INSERT INTO `informe_enfermero` VALUES (1,10,2,'Esto es una prueba para ver que onda con el informe. El paciente se encuentra cada vez peor, los isntomas se agravan, pero sigue siendo todo controlado. Por favor tene mucha precaucion','2025-08-26 21:40:04',19),(2,10,7,'Este paciente esta sumamente grave, nunca habia visto algo asi y le recomiedno que le haga una tomografia urgente por posible lesion osea grave','2025-09-10 20:03:02',4);
/*!40000 ALTER TABLE `informe_enfermero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informes`
--

DROP TABLE IF EXISTS `informes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informes` (
  `idInforme` int NOT NULL AUTO_INCREMENT,
  `idPaciente` int NOT NULL,
  `idEstudio` int NOT NULL,
  `idMedico` int NOT NULL,
  `idEspecialidad` int NOT NULL,
  `fechaInforme` datetime DEFAULT CURRENT_TIMESTAMP,
  `resultado` text NOT NULL,
  PRIMARY KEY (`idInforme`),
  KEY `idPaciente` (`idPaciente`),
  KEY `idEstudio` (`idEstudio`),
  KEY `idMedico` (`idMedico`),
  KEY `idEspecialidad` (`idEspecialidad`),
  CONSTRAINT `informes_ibfk_58` FOREIGN KEY (`idPaciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE,
  CONSTRAINT `informes_ibfk_59` FOREIGN KEY (`idEstudio`) REFERENCES `estudios` (`idEstudio`) ON UPDATE CASCADE,
  CONSTRAINT `informes_ibfk_60` FOREIGN KEY (`idMedico`) REFERENCES `medicos` (`idMedico`) ON UPDATE CASCADE,
  CONSTRAINT `informes_ibfk_61` FOREIGN KEY (`idEspecialidad`) REFERENCES `especialidades` (`idEspecialidad`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informes`
--

LOCK TABLES `informes` WRITE;
/*!40000 ALTER TABLE `informes` DISABLE KEYS */;
/*!40000 ALTER TABLE `informes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informes_alta`
--

DROP TABLE IF EXISTS `informes_alta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informes_alta` (
  `idInforme` int NOT NULL AUTO_INCREMENT,
  `admision_id` int NOT NULL,
  `diagnostico_final` text NOT NULL,
  `medicacion` text NOT NULL,
  `recomendaciones` text NOT NULL,
  `observaciones` text,
  `fecha_informe` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idInforme`),
  KEY `fk_admision_informe` (`admision_id`) USING BTREE,
  CONSTRAINT `informes_alta_ibfk_1` FOREIGN KEY (`admision_id`) REFERENCES `admisiones` (`idAdmision`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informes_alta`
--

LOCK TABLES `informes_alta` WRITE;
/*!40000 ALTER TABLE `informes_alta` DISABLE KEYS */;
INSERT INTO `informes_alta` VALUES (1,16,'no tenia nada','tiene que descansar nomas','seguir la carrera de actor','ninguna','2025-09-09 22:40:34');
/*!40000 ALTER TABLE `informes_alta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicos`
--

DROP TABLE IF EXISTS `medicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicos` (
  `idMedico` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `matricula` varchar(50) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `idEspecialidad` int DEFAULT '1',
  `dni` varchar(20) NOT NULL,
  PRIMARY KEY (`idMedico`),
  UNIQUE KEY `matricula` (`matricula`),
  UNIQUE KEY `dni` (`dni`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicos`
--

LOCK TABLES `medicos` WRITE;
/*!40000 ALTER TABLE `medicos` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motivos`
--

DROP TABLE IF EXISTS `motivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motivos` (
  `idMotivo` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) NOT NULL,
  `idEspecialidad` int NOT NULL,
  PRIMARY KEY (`idMotivo`),
  UNIQUE KEY `descripcion` (`descripcion`),
  KEY `especialidad_motivos` (`idEspecialidad`) USING BTREE,
  CONSTRAINT `motivos_ibfk_1` FOREIGN KEY (`idEspecialidad`) REFERENCES `especialidades` (`idEspecialidad`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motivos`
--

LOCK TABLES `motivos` WRITE;
/*!40000 ALTER TABLE `motivos` DISABLE KEYS */;
/*!40000 ALTER TABLE `motivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mutuales`
--

DROP TABLE IF EXISTS `mutuales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mutuales` (
  `idMutual` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idMutual`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mutuales`
--

LOCK TABLES `mutuales` WRITE;
/*!40000 ALTER TABLE `mutuales` DISABLE KEYS */;
INSERT INTO `mutuales` VALUES (1,'OSDE',1),(2,'PAMI',1),(3,'DOSEP',1),(4,'IOMA',1),(5,'Swiss Medical',1),(6,'Galeno',1),(7,'Medicus',1),(8,'Omint',1),(9,'Sancor Salud',1),(10,'Federada Salud',1),(11,'Accord Salud',1),(12,'Ninguna',1);
/*!40000 ALTER TABLE `mutuales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `origenes`
--

DROP TABLE IF EXISTS `origenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `origenes` (
  `idOrigen` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`idOrigen`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `origenes`
--

LOCK TABLES `origenes` WRITE;
/*!40000 ALTER TABLE `origenes` DISABLE KEYS */;
INSERT INTO `origenes` VALUES (2,'Derivacion'),(1,'Emergencia'),(3,'Turno');
/*!40000 ALTER TABLE `origenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pacientes`
--

DROP TABLE IF EXISTS `pacientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pacientes` (
  `idPaciente` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `apellido` varchar(100) DEFAULT NULL,
  `dni` bigint NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `sexo` char(1) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion` varchar(200) DEFAULT NULL,
  `mutual_id` int DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idPaciente`),
  UNIQUE KEY `dni` (`dni`),
  KEY `fk_paciente_mutual` (`mutual_id`) USING BTREE,
  CONSTRAINT `pacientes_ibfk_1` FOREIGN KEY (`mutual_id`) REFERENCES `mutuales` (`idMutual`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pacientes`
--

LOCK TABLES `pacientes` WRITE;
/*!40000 ALTER TABLE `pacientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `pacientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pacientes_estudios`
--

DROP TABLE IF EXISTS `pacientes_estudios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pacientes_estudios` (
  `idPaciente` int NOT NULL,
  `idEstudio` int NOT NULL,
  `fecha` date NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idPaciente`,`idEstudio`,`fecha`),
  KEY `idEstudio` (`idEstudio`),
  CONSTRAINT `pacientes_estudios_ibfk_1` FOREIGN KEY (`idPaciente`) REFERENCES `pacientes` (`idPaciente`) ON DELETE CASCADE,
  CONSTRAINT `pacientes_estudios_ibfk_2` FOREIGN KEY (`idEstudio`) REFERENCES `estudios` (`idEstudio`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pacientes_estudios`
--

LOCK TABLES `pacientes_estudios` WRITE;
/*!40000 ALTER TABLE `pacientes_estudios` DISABLE KEYS */;
INSERT INTO `pacientes_estudios` VALUES (7,4,'2025-09-08','Pendiente'),(7,5,'2025-09-08','Pendiente');
/*!40000 ALTER TABLE `pacientes_estudios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_de_cuidados`
--

DROP TABLE IF EXISTS `plan_de_cuidados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plan_de_cuidados` (
  `id_plan` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_enfermero` int NOT NULL,
  `id_paciente` int NOT NULL,
  `intervenciones_inmediatas` text NOT NULL,
  `medicamentos` text,
  `tratamiento` text,
  `fecha_hora` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_plan`),
  UNIQUE KEY `id_plan` (`id_plan`),
  KEY `id_enfermero` (`id_enfermero`),
  KEY `id_paciente` (`id_paciente`),
  CONSTRAINT `plan_de_cuidados_ibfk_231` FOREIGN KEY (`id_enfermero`) REFERENCES `enfermeros` (`idEnfermero`) ON UPDATE CASCADE,
  CONSTRAINT `plan_de_cuidados_ibfk_232` FOREIGN KEY (`id_paciente`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_de_cuidados`
--

LOCK TABLES `plan_de_cuidados` WRITE;
/*!40000 ALTER TABLE `plan_de_cuidados` DISABLE KEYS */;
INSERT INTO `plan_de_cuidados` VALUES (1,10,2,'Necesita Cirugia Urgente','Amoxilina e ibuprofeno','pastillas cada 8 hs y reposo absouto','2025-08-24 20:03:03'),(2,10,7,'Necesita cirugia urgentemente y le tienen que inyectar morfina por el dolor','Morfina y corticoides','Reposo e inmovilizacion absoluta de la zona, y tomar las pastillas cada 8 hs','2025-09-07 23:28:22'),(3,10,16,'Tenes que atenderte por el medico','ibuprofeno ','reposo y pastilla cada 8 hs','2025-09-08 16:11:07');
/*!40000 ALTER TABLE `plan_de_cuidados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sintomas`
--

DROP TABLE IF EXISTS `sintomas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sintomas` (
  `idSintoma` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) NOT NULL,
  `prioridad` enum('alta','media','baja') NOT NULL,
  `idMotivo` int NOT NULL,
  PRIMARY KEY (`idSintoma`),
  KEY `fk_sintomas_motivos` (`idMotivo`) USING BTREE,
  CONSTRAINT `sintomas_ibfk_1` FOREIGN KEY (`idMotivo`) REFERENCES `motivos` (`idMotivo`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=241 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sintomas`
--

LOCK TABLES `sintomas` WRITE;
/*!40000 ALTER TABLE `sintomas` DISABLE KEYS */;
/*!40000 ALTER TABLE `sintomas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos`
--

DROP TABLE IF EXISTS `turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turnos` (
  `idTurno` int NOT NULL AUTO_INCREMENT,
  `paciente_id` int NOT NULL,
  `fecha` date NOT NULL,
  `hora` time NOT NULL,
  `idEspecialidad` int NOT NULL,
  `idMedico` int NOT NULL,
  `estado` varchar(50) NOT NULL DEFAULT 'Pendiente',
  PRIMARY KEY (`idTurno`),
  KEY `fk_especialidades_turnos` (`idEspecialidad`) USING BTREE,
  KEY `fk_medico_turnos` (`idMedico`) USING BTREE,
  KEY `paciente_id` (`paciente_id`),
  CONSTRAINT `turnos_ibfk_465` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`idPaciente`) ON UPDATE CASCADE,
  CONSTRAINT `turnos_ibfk_466` FOREIGN KEY (`idEspecialidad`) REFERENCES `especialidades` (`idEspecialidad`) ON UPDATE CASCADE,
  CONSTRAINT `turnos_ibfk_467` FOREIGN KEY (`idMedico`) REFERENCES `medicos` (`idMedico`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos`
--

LOCK TABLES `turnos` WRITE;
/*!40000 ALTER TABLE `turnos` DISABLE KEYS */;
INSERT INTO `turnos` VALUES (5,7,'2025-06-11','09:30:00',11,32,'Pendiente'),(6,8,'2025-07-04','15:30:00',18,53,'Pendiente'),(7,5,'2025-07-06','08:15:00',9,26,'Pendiente'),(8,12,'2025-07-28','16:55:00',12,36,'Atendido');
/*!40000 ALTER TABLE `turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidades`
--

DROP TABLE IF EXISTS `unidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unidades` (
  `idUnidad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idUnidad`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidades`
--

LOCK TABLES `unidades` WRITE;
/*!40000 ALTER TABLE `unidades` DISABLE KEYS */;
INSERT INTO `unidades` VALUES (1,'Clnica Mdica',1),(2,'Cardiologa',1),(3,'Neumonologa',1),(4,'Gastroenterologa',1),(5,'Neurologa',1),(6,'Infectologa',1),(7,'Urologa',1),(8,'Nefrologa',1),(9,'Hematologa',1),(10,'Oncologa Clnica',1),(11,'Psiquiatra',1),(12,'Ginecologa',1),(13,'Obstetricia',1),(14,'Traumatologa y Ortopedia',1),(15,'Ciruga General',1),(16,'Endocrinologa',1),(17,'Cuidados Paliativos',1),(18,'Reumatologa',1),(19,'Terapia Intensiva',1),(20,'Emergentologa',1),(21,'Radiologia',1),(22,'Laboratorio Clinico',1);
/*!40000 ALTER TABLE `unidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `usuario` varchar(50) NOT NULL,
  `contrasea` varchar(255) NOT NULL,
  `rol` enum('medico','admision','enfermero','admin') NOT NULL,
  `dni` varchar(20) NOT NULL,
  PRIMARY KEY (`idUsuario`),
  UNIQUE KEY `dni_UNIQUE` (`dni`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-18 19:41:24
