mixin navbar()
    nav.navbar.navbar-expand-lg.bg-body-tertiary
        div.container-fluid
            a.navbar-brand(href='/') Hospital Central Sur  
            div.navbar-nav
                a.nav-link.active(aria-current="page", href='/') Inicio
                a.nav-link(href='/NuevoPaciente') Nuevo Paciente 
                a.nav-link(href='#') Admisión
                a.nav-link(href='#') Habitaciones 
