mixin navbar()
    nav.navbar.navbar-expand-lg.bg-body-tertiary
        div.container-fluid
            a.navbar-brand(href='/Admision') Hospital Central Sur  
            div.navbar-nav
                a.nav-link.active(aria-current="page", href='/Admision') Inicio 
                a.nav-link.disabled(aria-current="page", href='/') Cerrar Sesión 
    br            
